 .loginnn {
    background-image: url("C:\Users\shara\Desktop\App_Development_IRC-main\agri_loan\public\hero.png"); /* Ensure this image path is correct and points to your public folder */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    background-size: 33%;
    background-position-y: top;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.login-title-position{
    display: flex;
    justify-content: center;
}

.icon-plant-login {
    height: 40px;
    width: 40px;
    margin-top: 25px;
}

.main-button1-login {
    border: none;
    font-size: 10px;
    font-family: 'Poppins';
    background: none;
    color: rgb(255, 70, 3);
    font-weight: bolder;
    display: flex;
}
.pop-up-man{
    position: relative;
    z-index:-10;
    width: 190px;
    left: -60px;
    top: -63px;
}

.login-container {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-nav {
    align-items: center;
    margin-top: 4vh;
    
}

.login-nav h1 {
    font-size: 34px;
}

.login-nav p {
    font-family: 'Poppins';
    font-weight: 600;
    margin-left: 15px;
    margin-top: 7vh;
}

.wrapper-container {
    width: 100%;
    align-items: center;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.form-class {
    width: 100%;
}

.wrapper {
    margin-bottom: 13vh;
    width: 100%;
    max-width: 420px;
    min-width: 27vw;
    background: transparent;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    backdrop-filter: blur(13px);
    color: rgb(143, 143, 143);
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
    box-shadow: 0 0 8px #03441e;
    height: 400px;
    display: flex;
    align-items: center;
    
}

.head-wrap {
    margin-top: -20px;
}

.lady {
    position: absolute;
    top: 44%;
    left: -39px;
    z-index: -1;
}

.wrapper:hover {
    transform: scale(1);
}


.admin-switch {
    position: sticky;
    top: calc(100vh - 550px); /* Adjust as needed */
    border-bottom: none;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px 10px 0 0;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 0;
    color: white;
    background: #ffbd7b2a;
    box-shadow: 0 0 8px #03441e;
    transition: top 0.5s ease-in-out;
    cursor: pointer;
}

.admin-switch:hover {
    top: calc(100vh - 100%); /* Fully visible */
}


.admin-switch:hover {
    z-index: 0; /* Ensure it stays above other elements */
}

.admin-switch-button {
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(255, 85, 0);
    font-family: 'Poppins';
    font-weight: bolder;
    margin-right: 40px;
    position: relative;
    right: 70px;
}


.wrapper h2{
    font-size: 32px;
    text-align: center;
    font-family: 'Poppins';
    
}
.fieldss{
    width: 100%;
    /* justify-content: left; */
    display: grid;
    align-items: center;
    margin-top: -15px;
    overflow:hidden ;
    
}
.input-icon{
    width: 8%;
    padding-left: 8px;
    color: rgba(65, 65, 65, 0.601);
}
.input-box{
    border: 2px solid rgba(128, 128, 128, 0.385);
    border-radius: 40px;
    height:50px;
    align-items: center;
    margin-top: 10px;
    width: 98.5%;
    display: flex;
    justify-content: left;
    justify-self: left;
}
.input-box input{
    width: 75%;
    height: 13px;
    background: transparent;
    border: none;
    outline: none;
    
    font-size: 1rem;
    color: rgb(51, 51, 51);
    padding-left: 10px   ;
    padding-top: 20px;
    padding-bottom: 15px;
    
}
.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.598);
}
.input-box:hover{
    border:2px solid#143668e1;
}

  .toggle-password{
    border: none;
    width: 7%;
    background: none;
    margin-right: -5px;
    margin-top: 4px;
    font-size: 17px;
    color: rgba(65, 65, 65, 0.601);
    cursor: pointer;
  }


.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.remember-forgot label input{
    accent-color: rgb(60, 36, 182);
    margin-right: 3px;
    cursor: pointer;
}
.remember-forgot label input.checkbox{
    padding-top: 8px;
    align-items: center;
}
.remember-forgot a {
    position: relative;
    color:rgb(230, 14, 14);
    text-decoration: none;
    cursor: pointer;
    padding-right: 2px;
}

.remember-forgot a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(230, 14, 14);
    transition: width 0.3s ease; 
    
}

.remember-forgot a:hover::after {
    width: 100%; 
    border-radius: 10px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background:#157368;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.wrapper .btn:hover{
    box-shadow: 0 0 5px rgb(12, 60, 49);
}
.wrapper .register-link{
    font-size: 14.5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.register-link p{
    margin-right: 10px;
    color: black;
    font-weight:600;
}
.register-link a {
    position: relative;
    color: rgb(22, 22, 237);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register-link a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(22, 22, 237);
    transition: width 0.3s ease; 
}

.register-link a:hover::after {
    width: 100%; 
}

@keyframes slideUpDown {
    0% {
        transform: translateY(10px);
        opacity: 1;
    }
    40% {
        transform: translateY(0);
        opacity: 1;
    }
    40% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

  
@keyframes slidedown {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(20px);
      opacity: 1;
    }
  }
  


@media only screen and (max-width: 768px) {
    
    .lady{
        display: none;
    }

    
  }

@media only screen and (min-width: 909px) {
  
    
  }



@media only screen and (max-width: 908px) {
   
    .login-nav{
        display: grid;
    }
    .login-nav p{
        margin-left: 15px;
        font-family: 'Poppins';
        font-weight: 600;
    }
    
  }
  